<div>
    <h2 id="page-heading">
        <span jhiTranslate="uberTwoApp.driver.home.title">Drivers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/driver/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="uberTwoApp.driver.home.createLabel">
            Create a new Driver
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="drivers?.length === 0">
        <span jhiTranslate="uberTwoApp.driver.home.notFound">No drivers found</span>
    </div>
    <div class="table-responsive" *ngIf="drivers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="uberTwoApp.driver.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="uberTwoApp.driver.age">Age</span></th>
            <th scope="col" ><span jhiTranslate="uberTwoApp.driver.salary">Salary</span></th>
            <th scope="col" ><span jhiTranslate="uberTwoApp.driver.taxiOffice">Taxi Office</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driver of drivers ;trackBy: trackId">
                <td><a [routerLink]="['/driver', driver.id, 'view' ]">{{driver.id}}</a></td>
                <td>{{driver.name}}</td>
                <td>{{driver.age}}</td>
                <td>{{driver.salary}}</td>
                <td>
                    <div *ngIf="driver.taxiOffice">
                        <a [routerLink]="['/taxi-office', driver.taxiOffice?.id, 'view' ]" >{{driver.taxiOffice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/driver', driver.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/driver', driver.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(driver)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
