<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Willkommen bei Uber</h1>
        <p class="lead">Setze dich hinters Steuer und erziele Umsätze. </p>
        <p class="lead">Biete Fahrten über die App mit der höchsten Anzahl aktiver Fahrgäste an.</p>


        <div [ngSwitch]="isAuthenticated()">


            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <p>
            Melde dich jetzt an:
        </p>
        <ul>
            <li><a href="http://localhost:9000/driver/new">Los gehts!</a></li>
        </ul>
    </div>
</div>
